.product {
  display: flex;
  padding: 0px 40px 20px 40px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: var(--green, #a0d187);
}
.product-text-hidden {
  display: none;
}
.product-text-hidden.is-active {
  display: block;
}

.product-onions.is-active {
  background: var(--red, #cf9697);
}

.product-classic.is-active {
  background: var(--light-blue, #c0d9d9);
}

.product h3 {
  font-size: 35px;
}

.product p {
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
}

.product i {
  font-size: 18px;
}
